    /* Google Web Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');

/* Reset */
* { margin: 0; padding: 0; font-family: "Roboto", sans-serif; color: #1f233d;}
body { max-width: 95%; margin: 0 auto; } /* take up 95% of viewport width and center it */

/* contents container */
/* 1024px maximum with equal margin on both sides */
.container { max-width: 1024px; height: inherit; margin: 0 auto; padding: 50px 0;}

/* shared attributes */
h2, h3, h4 {font-family: "Abel", sans-serif;}
h2 { font-size: 1.8em; text-align: center; margin-bottom: 30px; }

/* header */
header { width: 100%; background: #6dafde; text-align: center;}
#header-img { padding: 20px 0;}
    #header-img img {width: 200px; border-radius: 50%; border: 3px solid #e2eff8;}

    #header-desc h1 { font-size: 2.4em; margin-bottom: 10px;}
    #header-desc p { font-size: 1.2em; margin-bottom: 40px;}
    /* display the two buttons side-by-side */
    /* make them inline-block to apply width and height to style the buttons */
    #header-desc a {border: 3px solid #e2eff8; display: inline-block; width: 150px; height: 50px; line-height: 50px; text-align: center; text-decoration: none; border-radius: 20px; font-weight: bold;}
        #header-desc a#btn-resume {color: #e2eff8; margin-right: 16px;}
            #header-desc a#btn-resume i {color: inherit;}
        #header-desc a#btn-resume:hover {color: #1f233d; border: 3px solid #1f233d; transition: .3s ease-in-out;}
        #header-desc a#btn-contact {background-color: #e2eff8; }
        #header-desc a#btn-contact:hover {border: 3px solid #1f233d; transition: .3s ease-in-out;}

/* section: infographic */
#section-info { width: 100%; background: #f2f2f2; color: #2b3e6f;}
#section-info .container {display: flex; } /* display honesty and info divs side-by-side */
#honesty {width: 50%; padding: 20px 50px; border-right: 2px dotted #6dafde;} /* take up half the width */
    #honesty p {margin-bottom: 20px;}
    #honesty span {font-weight: bold;}
    #honesty span time {font-weight: normal;}
#info {width: 50%; padding: 20px 50px; } /* take up half the width */
    #info ul {list-style: none;}
    #info li {font-weight: bold; padding-bottom: 10px;}
    #info li span {float: right; font-weight: normal;}

/* section: education */
#section-edu {width: 100%; background: #e3e3e3;}
.card-wrapper {height: 100px; display: flex; background: rgba(255, 255, 255, 0.5); margin: 20px 100px; box-shadow: 5px 7px #86859e;}
    .card-left {width: 20%; line-height: 100px; font-size: 1.4em; background: #455a92; text-align: center;}
        .card-left span {color: #fff;}
    .card-right {width: 80%; padding: 20px;}
        .card-right h3 {padding-bottom: 10px;}
        .card-right h4 {color: #4d4d4d;}

/* section: contact me */
#section-contact {width: 100%; background: #1f233d;}
#section-contact h2 {color: #fff;}
#section-contact form {margin: 0 200px; padding: 20px; border-top: 2px solid #fff;}
#section-contact form .row { padding-top: 20px;}
#section-contact form .flex {display: flex; justify-content: space-between;}
form input[type="text"],
form input[type="email"],
form input[type="number"] {padding: 6px 10px; font-size: 0.8em; width: 100%; box-sizing: border-box;}
form textarea {width: 100%; padding: 6px 10px; box-sizing: border-box;}
form select {padding: 6px 10px; width: 100%;}
form label {padding: 10px 0; margin-right: 10px; font-size: 0.8em; color: #fff}
    form label span {color: red;}
    
#section-contact form #options-list {display: flex; width: 60%;}
#section-contact form #hourly-rate {display: none; width: 40%; margin-top: 10px;}

#section-contact form .right {text-align: right;}
    form input[type="submit"] {padding: 10px 20px;}



/* viewport width: 0 - 960px */
@media screen and (max-width: 960px){
    .container {width: 100%;}

    /* section: infographic */
    #section-info .container {display:block;} /* display honesty and info vertically */
    #honesty {width: 100%; border-right: 0; border-bottom: 2px dotted #6dafde; padding: 20px 100px; box-sizing: border-box;}
    #info {width: 100%; padding: 20px 100px; box-sizing: border-box;}

    /* section: education */
    .card-wrapper {margin: 20px; display: block; height: 150px;}
    .card-left {width: 100%; line-height: 50px;}
    .card-right {width: 100%;}

    /* section: contact me */
    #section-contact form {margin: 0 100px;}
}
/* viewport width: 0 - 400px */
@media screen and (max-width: 400px) {
    /* header  */
    #header-img img {width: 120px;} /* make profile image smaller to fit in screen */
    #header-desc h1 { font-size: 2em;}
    #header-desc a#btn-resume {display: block; margin: 0 auto 10px;} /* display resume and contact-me buttons vertically */

    /* section: infographic */
    #honesty {padding: 20px;}
    #info {padding: 20px;}

    /* section: contact me */
    #section-contact form {margin: 0;}
    #section-contact form .flex {display: block;}
        form input#form-addr {margin-bottom: 20px;}
        form select#form-prov {margin-bottom: 20px;}

        #section-contact form #options-list {display: block; width: 100%;}
        #section-contact form #hourly-rate {width: 100%; margin-top: 10px;}

        form input[type="submit"] {width: 100%;}
}